<p>
  My pancake is topped with: {{this.pancake}}
</p>

<LinkTo @route="application" @query={{hash p="with-maple-syrup"}}>Maple Syrup</LinkTo>
|
<LinkTo @route="application" @query={{hash p="butter"}}>Butter</LinkTo>
